<h1> Add Courses </h1>

<form action="/add_courses_url/" method="post">
    <label for="Course name">Enter Course Name: </label>
    <input id="add_course_name" type="text" name="name_field" value="Course Name">
    <label for="Term">Enter Term: </label>
    <input id="add_term" type="text" name="name_field" value="Term">
    <label for="Assessments">Enter Assessments: </label>
    <input id="add_assessments" type="text" name="name_field" value="Assessments">
    <input type="submit" value="OK">
</form>