<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{courseName}}</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <h1>{{courseName}}</h1>

    <div class = container>
        <table class = "table">
            <tr>
                <th>Assignment Name</th>
            <th>Due Date</th>
            </tr>
            {% for assignment in assignments %}
            <tr>
                    <td>{{assignment.aname}}</td>
                    <td>{{assignment.duedate}}</td>

            </tr>
            {% endfor %}
        </table>
    </div>


</body>
</html>