<button type="button" onclick="window.location.href='../addcourses'">Add Course</button>
<button type="button">Add Assessment</button>

<h1>Current Courses:</h1>

<ul>
{% for course in all_courses %}
    <li>{{course.cname}}</li>
{% endfor %}
</ul>

<!-- {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->