<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<button type="button" onclick="window.location.href='../addcourses'">Add Course</button>
<button type="button">Add Assessment</button>

<body>
<h1>Current Courses:</h1>

<div class = container>
<ul>
{% for course in all_courses %}
    <li>{{course.cname}}</li>
{% endfor %}
</ul>
</div>
</body>
</html>