<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<button type="button" onclick="window.location.href='../courses'">Course Homepage</button>
<button type="button" onclick="window.location.href='../addcourses'">Add Course</button>
<button type="button" onclick="window.location.href='../addassessment'">Add Assessment</button>
<body>
    <h1 align="center">Dashboard</h1>
    <h3 align="center">Be Productive Today!</h3> 
    <h4 align="center">You have the following due in the next 5 days</h4>   

    <div class = container>
        <table class = "table">
            <tr>
                <th>Assignment Name</th>
            <th>Due Date</th>
            </tr>
            {% for assignment in allAssignmentsfive %}
            <tr>
                    <td>{{assignment.aname}}</td>
                    <td>{{assignment.duedate}}</td>

            </tr>
            {% endfor %}
        </table>
    </div>

    <div class=container>
        <h4 align="left"> You should work on: </h4>
        <body>
        {% for highest in priority%}
        <td>{{priority.aname}}</td>
        {% endfor %}
        </body> 
</body>
</html>